/Practica5/nbproject/private/
/Practica5/build/
/Practica5/dist/
/Practica7/Tetris/nbproject/private/
/Practica7/Tetris/build/
/Practica8/Comecocos/nbproject/private/
/Practica8/Comecocos/build/
/Practica8/Comecocos/dist/
/Jun2013_4_Buffer/nbproject/private/
/Jun2013_4_Buffer/build/
/Sept2013_4_Fork/nbproject/private/
/Sept2013_4_Fork/build/